header {
    background: white;
    height: 70px;
    border-bottom: solid 1px #CCC;
}

.logo {
    width: 150px; 
    height: 100px; 
    background-image: url('../images/logo.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    position: absolute;
    left: 20px; 
}
